<nav class="sidebar" 
    [ngStyle]="{'marginLeft':  (spinTheLines) ? '100%' : '0px', 
                'transition':  (spinTheLines) ?   'opacity ease-in 500ms 700ms' : 'opacity ease-in 300ms 0ms'}">
    <div class="cover animated slideInRight"
        [ngStyle]="{'marginLeft': (spinTheLines) ? '130vw' : '0px',
                    'transition':  (spinTheLines) ? 'margin-left ease-in 500ms 700ms' : 'margin-left ease-in 500ms 0ms'}">
        <ul>
            <li [ngClass]= "spinTheLines ?'home out' : 'home'"><a href="#" >Hem</a></li>
            <li [ngClass]= "spinTheLines ?'ticket out' : 'ticket'"><a >Biljetter</a></li>
            <li [ngClass]="spinTheLines ?'member out' : 'member'"><a >Medlem</a></li>
            <li [ngClass]="spinTheLines ?'about out' : 'about'"><a >Om oss</a></li>
        </ul>
    </div>
</nav>

<!--

    'opacity':  (spinTheLines) ?  '0' :  '1',

-->
