<nav class="sidebar" 
    [ngStyle]="{'marginLeft':  (spinTheLines) ? '100%' : '0px', 
                'transition':  (spinTheLines) ?   'opacity ease-in 500ms 0ms' : 'opacity ease-in 300ms 0ms'}">
    <div class="cover animated slideInRight"
        [ngStyle]="{'marginLeft': (spinTheLines) ? '130vw' : '0px',
                    'transition':  (spinTheLines) ? 'margin-left ease-in 500ms 0ms' : 'margin-left ease-in 500ms 200ms'}">
        <ul>
            <li><a href="#" >Hem</a></li>
            <li><a >Biljetter</a></li>
            <li><a >Medlem</a></li>
            <li><a >Om oss</a></li>
        </ul>
    </div>
</nav>

<!--

    'opacity':  (spinTheLines) ?  '0' :  '1',

-->
