.sidebar{
    transition: margin-left ease-in 500ms;
}
.cover::before{
    position: fixed;
    top:0;
    left: 0;
    content: " ";
    height: 130vh;
    width: 100%;
    opacity: 0.9;
    background-color: #333;
    z-index: 2;
    transition: margin-left ease-in 100ms;
    overflow-x: hidden;


    
}

.cover{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 130vh;
    transition: margin-left ease-in 100ms;
    overflow-x: hidden; 
    z-index: 10;   
}



ul{
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}


a{
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
    color:#eee;
    transition: transform ease-in 500ms;
    z-index: 12;
    
}

a:hover {
    transform: scale(1.2);
  }


li{
    margin-top: 2rem;
   text-align: center;

}
/*----Animation starts-----*/

.home{

 opacity: 0;
 animation: ease-in 500ms menuSlideIn 0ms forwards;   
}

.home.out{

    opacity: 0;
    animation: ease-in 500ms menuSlideOut 0ms forwards;   
   }

.ticket{

    opacity: 0;
    animation: ease-in 500ms menuSlideIn 300ms forwards;

}

.ticket.out{

    opacity: 0;
    animation: ease-in 500ms menuSlideOut 100ms forwards;

}

.member{

    opacity: 0;
    animation: ease-in 500ms menuSlideIn 600ms forwards;

}

.member.out{

    opacity: 0;
    animation: ease-in 500ms menuSlideOut 200ms forwards;

}

.about{

    opacity: 0;
    animation: ease-in 500ms menuSlideIn 900ms forwards;

}

.about.out{

    opacity: 0;
    animation: ease-in 300ms menuSlideOut 400ms forwards;

}

@media screen and (min-width: 750px){

    li{
        margin-top: 10vh;
    }

}

@keyframes menuSlideIn{
    
    0%{transform : translateX( 200%); opacity: 0;}
    100%{transform : translateX( 0%); opacity: 1;}
}


@keyframes menuSlideOut{
    
    0%{transform : translateX( 0%); opacity: 1;}
    100%{transform : translateX( 200%); opacity: 0;}
}
