<div [class]="wraper">

    <div class="screen">The Show will begin<br/> Välj era {{ numberOfSeats }} sittplatser! 
        <div *ngFor="let seat of seats"> Vald plats är {{ seat }}  </div> 
    </div>
    
    <div class="moviebox animated fadeIn">
        
        <div class="cinema" *ngFor="let seat of ' '.repeat(20).split(''); index as i" >
            <div (click)="getSeats( i+1)" class="seat" clickColor [color]="'red'">

                <p> {{ i+1 }} </p>
                <p *ngIf="!!(i%4==0)">{{ "&#9855;" }}</p>

            </div>
        </div>
    </div>
</div>
