<div class="seatsheading animated fadeIn"> <!--*ngIf="setSeats ] && [begin]"-->
    <h2 >Var god och välj sittplatser!</h2>
</div>
<div class="moviebox animated fadeIn" ><!--*ngIf="!setSeats"-->
    <div class="cinema" *ngFor="let seat of ' '.repeat(20).split(''); index as i" (click)="getSeats( i+1)">
        <div   class="seat" clickColor [color] = "'red'">

            <p> {{ i+1 }} </p><p *ngIf="!!(i%4==0)" >{{ "&#9855;" }}</p>

        </div>
    </div>
</div> 
<!--clickColor [color] = "'red'"-->