.wraper{
    width: 100vw;
}



.moviebox{

    
    
    width: 100vw;
    background-color: #111;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: grid;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    align-items: center;
    

}

.btn{
    
    
    height: 2rem;
    background-color: #fff;
    font-size: large;
    font-weight: bolder;
    border-radius: 3rem;

    margin: 2rem 40%;

    animation: scalein 1s ease-in;
}

.screen{
    position: relative;
    text-align: center;
    width: 80%;
    height: 10rem;
    border: #f11111 1px double;
    background-color: #FFF;
    margin:0 auto;
    margin-bottom: -3rem;
    transform: perspective(400px) rotateX(-40deg);
    z-index: 1;
    
}

.cinema{

    border: solid #fff 3px;
    border-top: 6px #ff3333 solid;
    border-radius: 10px;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    

    align-self: center;
    justify-self: center;

}

.cinema:nth-child(4n-3){
    transform: rotate(20deg);
    margin-top: -3rem;
    
}

.cinema:nth-child(4n-2){
    transform: rotate(10deg);
   
}

.cinema:nth-child(4n-1){
    transform: rotate(-10deg);
   
}

.cinema:nth-child(4n){
    transform: rotate(-20deg);
    margin-top: -3rem;
    
}


.cinema p{

    color: #fff;
    padding-top: 1rem;
    font-size: large;
    text-align: center;

}

.cinema:nth-child(4n-3) p{
    padding-top: 0rem;
    

}

.seat{

    border: wheat 2px solid;
    border-radius: 0 0 100% 100%;
    margin-top: 20%;
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

        .ready{
            position: fixed;
            height: 20rem;
            
            border-radius: 30px;
            top: 33%;
            left: 0%;
            background-color: #fb1;
            opacity: 0.9;
            z-index: 7;

            animation: ready-to-continue 1s ease-in;
        }

        .ready h3, .ready p{

            color: #fff;
            text-align: center;
            opacity: 0;
            
            font-weight: bold;
            margin-top: 2rem;
            line-height: 2rem;
            

            overflow: hidden; /* Ensures the content is not revealed until the animation */
            
            white-space: nowrap; /* Keeps the content on a single line */
            
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .2rem; 
            

        }

        .ready h3{
            margin-top: 2rem;
            font-size: 1.5rem;

           animation: typing2 0.5s steps(20, end) 1.5s forwards, blink-caret;

        }

        .ready p:nth-child(1){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 2s forwards, blink-caret;
        }

        .ready p:nth-child(2){
            font-size: 1.2rem;
            animation: typing2 0.5s steps(20, end) 3s forwards, blink-caret;
        }

        .ready p:nth-child(3){
            font-size: 1.2rem;
            animation: typing2 0.5s steps(20, end) 3.5s forwards, blink-caret;
        }

        .ready p:nth-child(4){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 4s forwards, blink-caret;
        }

        .ready p:nth-child(5){
            font-size: 1.2rem;
            animation: typing2 0.5s steps(20, end) 5s forwards, blink-caret;
        }

        .ready p:nth-child(6){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 5.5s forwards, blink-caret;
        }

        .ready p:nth-child(7){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 5s forwards, blink-caret;
        }

        .btnbox{
            margin-left: 25%;
        }

        .btnbox button{
            background-color: #fff;
            border-radius: 20px;

            width:10rem;
            height: 2rem;
            margin-top: 1rem;
            margin-left: 2rem;
            background-color: #fff;
            color: #f00;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2rem;
            text-align: center;
               
            font-size: 1.5rem;
            font-weight: bold;

            opacity: 0;
            transition: transform ease-in 500ms;
            animation: scalein 1s ease-in 6s forwards;

        }

        .btnbox button:target{
            transform: scale(0.5);
            
        }

/*-----Animations------*/

.scale-out{
    /*
    transform: perspective(400px) rotateX(-40deg);
    */
    animation: scaleOut 500ms ease-in forwards;
}

.moviebox.scale-out{
    animation: scaleOut2 500ms ease-in forwards 300ms;
}

.cinema.scale-out{
    animation: scaleOut2 800ms ease-in forwards 0ms;
}

/*  ------------- media query---------------*/

    @media screen and (min-width: 750px) {

       /**/
        .moviebox{
            width: 100%;   
            padding-top: 10rem;               
            
        }
       
        .cinema{

            height: 6rem;
            width: 6rem;
            margin-top: 2rem;    
        }

        .cinema:nth-child(4n-3){
            transform: rotate(20deg);
            margin-top: -10rem;
            
            
        }
        
        .cinema:nth-child(4n-2){
            transform: rotate(10deg);
            margin-top: 3rem;
           
        }
        
        .cinema:nth-child(4n-1){
            transform: rotate(-10deg);
            margin-top: 3rem;
        }
        
        .cinema:nth-child(4n){
            transform: rotate(-20deg);
            margin-top: -10rem;
            
            
        }

        .cinema p{

            color: #fff;
            padding-top: 1rem;
            font-size: 2.5rem;
            text-align: center;
        
        }

        .ready{
            position: fixed;
            height: 20rem;
            width: 50%;
            border-radius: 30px;
            top: 33%;
            left: 33%;
            background-color: #fb1;
            opacity: 0.9;
            z-index: 7;

            animation: ready-to-continue 1s ease-in;
        }

        .ready h3, .ready p{

            color: #fff;
            text-align: center;
            opacity: 0;
            
            font-weight: bold;
            margin-top: 2rem;
            line-height: 2rem;
            

            overflow: hidden; /* Ensures the content is not revealed until the animation */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .2rem; 
            

        }

        .ready h3{
            margin-top: 2rem;
            font-size: 2rem;

           animation: typing2 1.5s steps(20, end) 1s forwards, blink-caret;

        }

        .ready p:nth-child(1){
            font-size: 1.2rem;
            animation: typing2 1.5s steps(20, end) 1.5s forwards, blink-caret;
        }

        .ready p:nth-child(2){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 2.5s forwards, blink-caret;
        }

        .ready p:nth-child(3){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 3.5s forwards, blink-caret;
        }

        .ready p:nth-child(4){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 4.5s forwards, blink-caret;
        }

        .ready p:nth-child(5){
            font-size: 1.2rem;
            animation: typing2 1s steps(20, end) 5.5s forwards, blink-caret;
        }

        .btnbox{
            margin-left: 25%;
        }

        .btnbox button{
            background-color: #fff;
            border-radius: 20px;

            width:10rem;
            height: 2rem;
            margin-top: 1rem;
            margin-left: 2rem;
            background-color: #fff;
            color: #f00;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2rem;
            text-align: center;
               
            font-size: 1.5rem;
            font-weight: bold;

            opacity: 0;
            transition: transform ease-in 500ms;
            animation: scalein 1s ease-in 6s forwards;

        }

        .btnbox button:target{
            transform: scale(0.5);
            
        }
        

        



    }



@keyframes scalein {

    0%{transform: scale(0); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

@keyframes scaleOut {

    0%{transform: scale(1) perspective(400px) rotateX(-40deg); opacity: 1;}
    100%{transform: scale(0.1); opacity: 0.1;}
}

@keyframes scaleOut2 {

    0%{transform: scale(1); opacity: 1;}
    100%{transform: scale(0); opacity: 0;}
}

@keyframes ready-to-continue {

    0%{transform: translateY(-100%);height: 1rem;}
    55%{transform: translateY(0); height: 1;}
    100%{transform: translateY(0); height: 20rem;}
}

@keyframes typing2{
    
    0%{ width: 0; opacity: 0; border-right: solid black 3px; }
    1%{ width: 0; opacity: 1; border-right: solid black 3px;}
    99%{ width: 30%; opacity: 1; border-right: solid black 3px;}
    100%{ width: 100%; opacity: 1;}

    
}