.wraper{
    width: 100vw;
}



.moviebox{

    
    
    width: 100vw;
    background-color: #111;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: grid;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    align-items: center;
    

}

.btn{
    
    
    height: 2rem;
    background-color: #fff;
    font-size: large;
    font-weight: bolder;
    border-radius: 3rem;

    margin: 2rem 40%;

    animation: scalein 1s ease-in;
}

.screen{
    position: relative;
    text-align: center;
    width: 80%;
    height: 10rem;
    border: #f11111 1px double;
    background-color: #FFF;
    margin:0 auto;
    margin-bottom: -3rem;
    transform: perspective(400px) rotateX(-40deg);
    z-index: 1;
    
}

.cinema{

    border: solid #fff 3px;
    border-top: 6px #ff3333 solid;
    border-radius: 10px;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    

    align-self: center;
    justify-self: center;

}

.cinema:nth-child(4n-3){
    transform: rotate(20deg);
    margin-top: -3rem;
    
}

.cinema:nth-child(4n-2){
    transform: rotate(10deg);
   
}

.cinema:nth-child(4n-1){
    transform: rotate(-10deg);
   
}

.cinema:nth-child(4n){
    transform: rotate(-20deg);
    margin-top: -3rem;
    
}


.cinema p{

    color: #fff;
    padding-top: 1rem;
    font-size: large;
    text-align: center;

}

.cinema:nth-child(4n-3) p{
    padding-top: 0rem;
    

}

.seat{

    border: wheat 2px solid;
    border-radius: 0 0 100% 100%;
    margin-top: 20%;
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

/*-----Animations------*/

.scale-out{
    /*
    transform: perspective(400px) rotateX(-40deg);
    */
    animation: scaleOut 500ms ease-in forwards;
}

.moviebox.scale-out{
    animation: scaleOut2 500ms ease-in forwards 300ms;
}

.cinema.scale-out{
    animation: scaleOut2 800ms ease-in forwards 0ms;
}

/*  ------------- media query---------------*/

    @media screen and (min-width: 750px) {

       /**/
        .moviebox{
            width: 100%;   
            padding-top: 10rem;               
            
        }
       
        .cinema{

            height: 6rem;
            width: 6rem;
            margin-top: 2rem;    
        }

        .cinema:nth-child(4n-3){
            transform: rotate(20deg);
            margin-top: -10rem;
            
            
        }
        
        .cinema:nth-child(4n-2){
            transform: rotate(10deg);
            margin-top: 3rem;
           
        }
        
        .cinema:nth-child(4n-1){
            transform: rotate(-10deg);
            margin-top: 3rem;
        }
        
        .cinema:nth-child(4n){
            transform: rotate(-20deg);
            margin-top: -10rem;
            
            
        }

        .cinema p{

            color: #fff;
            padding-top: 1rem;
            font-size: 2.5rem;
            text-align: center;
        
        }


    }



@keyframes scalein {

    0%{transform: scale(0); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

@keyframes scaleOut {

    0%{transform: scale(1) perspective(400px) rotateX(-40deg); opacity: 1;}
    100%{transform: scale(0.1); opacity: 0.1;}
}

@keyframes scaleOut2 {

    0%{transform: scale(1); opacity: 1;}
    100%{transform: scale(0); opacity: 0;}
}