.wraper{
    
    padding: 10%;
    margin-top: 4rem;
    background-color: #fa4;
    width: 100vw;
    height: 100vh;
}
 
  .card {
    width: 80vw;
    height: 30rem;
    position: relative;
    transition: transform 3s;
  }
  
  .card-front, .card-back, .card-candy{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: transform 3s, margin-left 2s;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      text-align: center;

  }

  .card-back{

    background-color: #aaa;

  }

  .card-front{

    background-color: #fff;
    z-index: 1;
  }

  .card-candy{
    background-color: #f00;
    z-index: -1;
  }

  .card:hover .card-front{
    margin-left: 85vw;  
    transform: perspective(400px) rotateY(180deg);
  }

  .card:active .card-front, .card:active .card-back{

    margin-left: 85vw;  
    transform: perspective(400px) rotateY(180deg);

  }

  
  






/*

h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}

h3{

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;

}

ul{
    
    width:100%;
    border: solid 4px #ffffff;
    background-color: rgba(255, 255, 255, 0.19);
    padding: 0.5rem;
    border-radius: 20px;
}

li{
    padding-top: 1rem;
}

.foodlists{

    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

li>span:nth-child(2){
    
    float: right;
}

span{
    font-size: 1.2rem;
    font-weight: bold;
}

.plus, .minus{
    border-radius: 100%;
    background-color: #f00;
    height: 30px;
    width: 30px;
    font-weight: bolder;
    text-align: center;
}

.minus{
    background-color: #00f;
}
*/