<div class="wraper">
    <div class="scene">
       <div (click)="flip()" [class]="isFliped" class="card">
          <div class="card-face card-facefront">
            <h2>
                {{ resturantHeading }}
            </h2>
            <h3>{{ subHeading }}</h3>
            <div class="btn">
                {{ "Mat"  }}
            </div>
            <div class="btn">
                {{ "Drycker"  }}
            </div>
            <div class="btn">
                {{ "Godis"  }}
            </div>



          </div>
          <div class="card-face card-faceback">back</div>
        </div>
    </div>
</div>
    





        <!--+ customers[seat].seat-->
        <!--
        <h2>
            {{ "Vilken mat och godis ska till stol: "  }}
        </h2>
        <div class="foodlists">
            <div class="menu">
                <h3> Godis </h3>
                <ul>
    
                    <li *ngFor="let candy of candyList">
                        <span>{{ candy[0] +" " }}</span><span>{{ candy[1]+" kr"  }}</span><span><div (click)="buyCandy(candy)" class="plus">+</div></span><span><div (click) ="removeCandy(candy)" class="minus">-</div></span>
                    </li>
    
                </ul>
            </div>
            <div class="menu">
                <h3>Dryker </h3>
                <ul>
    
                    <li *ngFor="let drink of drinkList">
                        <span>{{ drink[0] +" "}}</span><span>{{ drink[1]+" kr"  }}</span><span><div (click)="buyDrinks(drink)" class="plus">+</div></span><span><div (click)="removeDrinks(drink)"  class="minus">-</div></span>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <h3>Mat </h3>
                <ul>
    
                    <li *ngFor="let food of foodList">
                        <span>{{ food[0] +" "}}</span><span> {{ food[1]+" kr" }} </span><span (click)="buyFood(food)" ><div  class="plus">+</div></span><span ><div (click)="removeFood(food)" class="minus">-</div></span>
                    </li>
                </ul>
            </div>
            <h3>Ssumman: {{  " kr" }}</h3>
        </div>
        -->
        <!--this.customers[this.seat].sum +-->
    
    
