<div class="wraper">
    <div class="scene">
       <div [class]="isFliped" class="card">
          <div class="card-face card-facefront">
            <h2>
                {{ resturantHeading }}
            </h2>
            <h3>{{ subHeading }} </h3>
            <h3 id="totalsum" *ngIf="(seat!=-1)">Summa att betala: {{ customers[id].totalSum }}</h3>
            <div class="seats"> 
                <div class="seat"
                *ngFor="let customer of customers;let i = index"
                (click)="getCustomer(customer.seat, i )" > {{ customer.seat }} </div>

            </div>
            
            
            <div (click)="flip(1)" class="btn">
                {{ "Mat" | uppercase }}
            </div>
            <div (click)="flip(2)" class="btn">
                {{ "Drycker" | uppercase  }}
            </div>
            <div (click)="flip(3)" class="btn">
                {{ "Godis" | uppercase   }}
            </div>
            <div (click)="checkoutcustomer()" class="btn checkout">
                {{ "Gå till kassan" | uppercase   }}
            </div>

            

          </div>
          <div class="card-face card-faceback">

            <h2 *ngIf="(seat!=-1)">
                Beställning till stol: {{ customers[id].seat }}
            </h2>
            <h3 *ngIf="(seat!=-1)">Summa att betala: {{ customers[id].totalSum }}</h3>
            <div 
                (click)="flip(0)" 
                class="btn">
                {{ "fram"  }}
            </div>
            <div
                *ngIf="state==3"
                class="foodlists">
                <h3>GODIS</h3>
                <ul>        
                    <li *ngFor="let candy of candyList">
                        <span>{{ candy.name +" " }}</span><span>{{ candy.price +" kr"  }}</span><span *ngIf="id!=-1" ><div (click)="buyCandy(candy)" class="plus">+</div><div (click)="removeCandy(candy)" class="minus">-</div></span>
                    </li>        
                </ul>                
          </div>
          <div 
            *ngIf="state==2"
            class="foodlists">
            <h3> DRYCKER </h3>            
            <ul>
                <li *ngFor="let drink of drinkList">
                    <span>{{ drink.name +" "}}</span><span>{{ drink.price+" kr"  }}</span><span *ngIf="id!=-1" ><div (click)="buyDrinks(drink)" class="plus">+</div><div (click)="removeDrinks(drink)"  class="minus">-</div></span>
                </li>
            </ul>
         </div>
         <div  
            *ngIf="state==1"
            class="foodlists">
            <h3> MAT </h3>            
             <ul>
                <li *ngFor="let food of foodList">
                    <span>{{ food.name +" "}}  </span><span>{{ food.price +" kr"    }}</span><span *ngIf="id!=-1" ><div (click)="buyFood(food)"   class="plus">+</div><div (click)="removeFood(food)" class="minus">-</div></span>
                </li>
            </ul>
            
        </div>
        </div>
    </div>
</div>
    





    
    
