.wraper{
    
    width: 100vw;
    
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}

.top{

    background-image: url("../../../../assets/sources/img/small/romanticdinner.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: bottom  right;
    
    background-color: #f1a900;

    width: 100%;
    transition: height ease-in 500ms;
}

/*-------------Welcome page finish here---------------*/

.down{
    
    height: 15rem;
    width: 100%;
    
    overflow: auto;
    white-space: nowrap;
    
    
}

.rigth{
    padding: 0.5rem;
    padding-top: 1rem;
    
    background-color: black;
    display: inline-block;
    
}


h2{
    width:50%;
    font-size: 2rem;
    font-weight: bold;
    font-family: Helvetica;
    color: #f11111;
    margin: 1rem;
}


/*-----img-tag-------*/

img{
    height: 180px;
    width: 120px;
    transition: transform ease-out 500ms;
}

img:active{
    transform: scale(1.2);
}

/*-------------The number of tickets------------------*/

span{
    color: #f11111;
    font-weight: bold;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.3rem;
    font-weight: 1.2rem;
    text-align: center;

}

input{
    
    border-radius: 5px;
}

.tickets, .numberOfTickets{
    font-size: 1.3rem;
    font-weight: 1.2rem;
}

.tickets{
    border-radius: 20px;
    background-color: #fff;
}



.howmany{

    width: 100vw;
    display: flex;
    flex-direction: column;   
}

.btn-input{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.showtime{
    background-color: #000000;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.showtime span{
    font-size: 1.2rem;
    font-style: italic;
    color: #fff;
}

.date-box{
    margin: 0 auto;   
}




/*----------------Trailers----------------------*/

.video{
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.iframe{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    
}

.iframe iframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

}



/*-----------mediaquery---------------*/


@media screen and (min-width: 750px) {

    /*--------small screen removal-------------*/

    .howmany{
        display: none;    
    }

    .showtime{
        display: none;
    }
/*-------------General dispay-------------------*/
    .wraper{
        width:100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        ". trailer"
        ". input"            
        "top r-top"
        "top r-down"
        "film film"
        "time time"
       ;
    
    }

    .wraper.one{
        width:100%;
        
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
           
        "trailer trailer"
        "top top"
        "film film"
        "input time"
        "seat seat"
       ;    
    }


    .top{
      grid-area: top;
      background-color: #add8ff;
      width: 100%;
    
    }

    .top h2{

      color: #f00;
      font-family: Tahoma;
      font-weight: bolder;
      font-size: 2.5rem;
      

      margin-top: 10%;
      margin-left: 10%;
    } 

    .down{
        grid-area: film;
        height: 30rem;
        background-color: black;
        
        display: flex;
        justify-content: space-evenly;
        
        
        width: 100%; 

        overflow-y: hidden ;
        overflow-x: hidden;
    }

    
    .rigth-top, .right-down{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        color: #f00;
        font-family: Tahoma;
        font-weight: bolder;
        font-size: 2rem;
        
        
    }

    .rigth-top{
        grid-area: r-top;
        background-color: #f1a900;
    }

    .right-down{
        grid-area: r-down;
        background-color: #eee;
        
    }


    .video{
        grid-area: trailer;
        margin-bottom: 0rem;
        margin-top: 0rem;
        width: 100%;
        cursor: pointer;
        align-self: start;
        overflow-x: hidden;

        
    }

    app-seats{
        grid-area: seat;
    }

    .iframe{
      animation: cinema 2s ease-in;  
    }


    /*-------------Grid-area-placement------------ends---------------------*/

    .rigth{
        display: flex;
        justify-content: space-evenly;
        
        
    }

    img{
        
        height: 360px;
        width: 240px;
        margin-top: 2rem;
        cursor: pointer;
        transition: transform ease-out 500ms;
    }

    img:hover{
        
        transform: scale(1.1) translateY(10%);
        overflow: visible;
    }

    /*-------picking tickets and dates big-------------*/

    
    .desc{

        margin: 1rem 2rem 2rem 2rem;
        color: #fff;
        font-family: Tahoma;
        font-weight: bolder;
        font-size: 1.2rem;
        line-height: 2rem;
        animation: fly-big 1s ease-in;

    }

    .top h3{
        color: #fff;
        font-size: 1.5rem;
        margin-top: 2rem;
        text-align: center;
        
    }

    /*------------trailer---------------*/


    .date-big{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000;

        animation: cinema 1s ease-in;
    }

    .date-big >.numberOfTickets{
        position: relative;
        margin-top: -1rem;

        animation: cinema 1s ease-in;
    }

    .display-date-big{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 0.5rem;

        animation: cinema 1s ease-in;
        
    }

    .display-date-big span{

        font-size: 1.5rem;
        font-weight: bolder;
        color:#fff;

        cursor: pointer;

        transition: all ease-in 1s;
        animation: cinema 1s ease-in;
    }

    .tickets, .numberOfTickets{
        font-size: 1.5rem;
        font-weight: 1.5rem;
    }

    .display-date-big >span:hover{

        color: #f00;
        transform: scale(1.1);

    }

    .howmany-big span{

        text-align: center;
        display: block;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #fff;
        margin-top: 1rem;

        cursor: pointer;

        animation: cinema 1s ease-in;
    }    

  }

  @media screen and (min-width: 1200px) {

    .wraper.one{
        width:100%;
        
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
           
        "top trailer"
        "top trailer"
        "film film"
        "input time"
        "seat seat"
       ;
    }
  }
  

  @keyframes cinema {
      
    0%{ opacity: 0;}
    100%{ opacity: 1;}
  }

  @keyframes fly-big{
    
    0%{ transform: scale(0); opacity: 0;}
    100%{ transform: scale(1); opacity: 1;} 
  } 