.wraper{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{

    background-image: url("../../../sources/img/small/romanticdinner.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: bottom  right;
    
    background-color: #f1a900;
    
    height: 15rem;
    width: 100%;
}

.down::-webkit-scrollbar{
    width: 100%;
}

.down{
    
    height: 20rem;
    width: 100%;


    white-space: nowrap;
    /*
    white-space: nowrap;
    */
    overflow: auto;
    white-space: nowrap;
   
    
}

.rigth{
    padding: 0.5rem;
    background-color: black;
    display: inline-block;
    
}





/*
.left{

    width: 100%;
    height: 50%;
    
    background-color: #ade7f5;
    
}


*/
h2{
    width:50%;
    font-size: 2rem;
    color: #f11111;
    margin: 1rem;
}

img{
    height: 180px;
    width: 120px;
    transition: transform ease-out 500ms;
}

img:hover{
    transform: scale(1.2);
}

/*
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }

 
  
.movie:nth-child(1) {
    height: 180px;
    width:   120px;
    display: inline-block;
    background-image: url("../../../sources/img/small/alfonsåberg.png");
    background-size: contain;
}

.movie:nth-child(2) {
    height: 180px;
    width:   120px;
    display: inline-block;
    background-image: url("../../../sources/img/small/avatar.png");
    background-size: contain;
}

.movie:nth-child(3) {
    height: 180px;
    width:   120px;
    display: inline-block;
    background-image: url("../../../sources/img/small/harrypotter.png");
    background-size: contain;
}

.movie:nth-child(4) {
    height: 180px;
    width:   120px;
    display: inline-block;
    background-image: url("../../../sources/img/small/matrix.png");
    background-size: contain;
}

.movie:nth-child(5) {
    height: 180px;
    width:   120px;
    display: inline-block;
    background-image: url("../../../sources/img/small/zoo.png");
    background-size: contain;
}

.movie:nth-child(6) {
    height: 180px;
    width:   120px;
    display: inline-block;
    background-image: url("../../../sources/img/small/alfonsåberg.png");
    background-size: contain;
}
*/

