<div class="wraper">
    <div class="top">
        <h2>
            {{ fronttext }}
        </h2>
    </div>
    <div class="down">
 <!--
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <div class="movie"></div>
        <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SY1000_CR0,0,665,1000_AL_.jpg" alt="">
 -->      
        <div class="rigth"
        *ngFor="let img of imges">
           <img [src]="img" alt="">
                
 
        </div>
        
        <div class="left"></div>
    </div>
</div>