<div [ngClass]="state===1 && width>750 ?'wraper one'   : 'wraper'">
    <div *ngIf="!(numberOfTicketChoosen)" [ngStyle]="stateChangeMainTop()" class="top">
        <h2 *ngIf="!(state===1 && width>750)" >
            {{ fronttext }}
        </h2>
        <h3 class="desc" *ngIf="state===1 && width>750"> Handling </h3>
        <p class="desc" *ngIf="state===1 && width>750 && !reload">{{ movieDesc }}</p>
        <p class="desc" *ngIf="state===1 && width>750 &&  reload">{{ movieDesc }}</p>
    </div>

<!-----------------Extra divs for big size---------------------->
<div *ngIf="width>750 && state!=1" class="rigth-top"> Beställ den bästa maten till filmen! </div>
<div *ngIf="width>750 && state!=1" class="right-down"> Vi har även det bästa godist!</div>
<!------------------Order tickets starts here------------------------>

    <div class="down" *ngIf="!(numberOfTicketChoosen)">

        <div class="rigth" *ngFor="let img of movieInfo.movies; let i = index">
            <span (click)="showTrailer(i)">
                <img [src]="img.img" [alt]="img.name">
            </span>
        </div>
    </div>

    <!--[(ngModel)]="tickets"-->
    <div *ngIf="(state==1) && !(numberOfTicketChoosen)" class="howmany">
        <span *ngIf="(dateSetBoolean)">{{ orderText[0] + movieName + " "+  orderText[1] + " " + ticketprice}}&nbsp;kr <br/>  {{ orderText[2]}} </span>
        <div *ngIf=" (dateSetBoolean)" class="btn-input">
            <input type="number" class="numberOfTickets" min="1" max="20" value="1" [(ngModel)]="tickets" />
            <button (click)="getNumberOfTickets()" class="tickets">
                skicka
            </button>            
        </div>
        <div class="date-box">
            <input  *ngIf="!(dateSetBoolean)" class="numberOfTickets" type="date" [(ngModel)]="movieDate">
        </div>
    </div>
    <div *ngIf="(state==1) && !(dateSetBoolean)"
         class="showtime">
            
            <span (click)="setDateAndTime(time)" *ngFor="let time of showTmes; let i = index"> {{ time }}:00</span>
    </div>
    <div *ngIf="!(numberOfTicketChoosen)" class="video">
        
            <div *ngIf="(state==1) && !(numberOfTicketChoosen)" class="iframe">
                <iframe [src]="urlSafe" frameborder="0" allow="accelerometer;
             autoplay;
             encrypted-media; 
             gyroscope; 
             picture-in-picture" allowfullscreen>
                </iframe>
            </div>

            <!--Date for full screen-->
            <div class="date-big">
                <input  *ngIf="!(dateSetBoolean) && width>750 && (state==1)" class="numberOfTickets" type="date" [(ngModel)]="movieDate">
                <div *ngIf="!(dateSetBoolean) && width>750 && (state==1)" class="display-date-big">
                    <span (click)="setDateAndTime(time)" *ngFor="let time of showTmes; let i = index"> {{ time }}:00</span>
                </div>
                <div *ngIf="(state==1) && !(numberOfTicketChoosen) && (dateSetBoolean) && width>750" class="howmany-big">
                    <span >{{ orderText[0] + movieName + " "+  orderText[1] + " " + ticketprice}}&nbsp;kr </span>
                    <span *ngIf="(dateSetBoolean)" >  {{ orderText[2]}} </span>
                    <div *ngIf=" (dateSetBoolean)" class="btn-input">
                        <input type="number" class="numberOfTickets" min="1" max="20" value="1" [(ngModel)]="tickets" />
                        <button (click)="getNumberOfTickets()" class="tickets">
                            skicka
                        </button>            
                    </div>
                </div>
            </div>

     </div>
        <app-seats *ngIf="(numberOfTicketChoosen) && (dateSetBoolean) && !(seatsTakenBool) "
                    [customers]="customers"
                    [seatsTakenBool]="seatsTakenBool"
                    (customersEvent)="customers=$event"
                    (seatsTakenEvent)="seatsTakenBool=$event"
                    (click)="printer()">
                </app-seats>
        <app-footer></app-footer>
</div>