<div class="wraper">
    <div [ngStyle]="stateChangeMainTop()"
        class="top">
        <h2>
            {{ fronttext }}
        </h2>
    </div>
    <div class="down">
     
        <div class="rigth"
        *ngFor="let img of imges">
            <a (click)="showTrailer()" href="#">
              <img   [src]="img[0]" [alt]="img[1]">
            </a>
        </div>
        
        <div class="left"></div>
    </div>
    <div class="video">
        <div class="iframe">
            <iframe 
            src="https://www.youtube.com/embed/m8e-FF8MsqU" 
            frameborder="0" allow="accelerometer; autoplay;
             encrypted-media; 
             gyroscope; 
             picture-in-picture" 
             allowfullscreen>
            </iframe>
        </div>
    </div>
    <app-footer></app-footer>
</div>