.wraper{
    
    width: 100vw;
    
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.top{

    background-image: url("../../../sources/img/small/romanticdinner.svg");
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: bottom  right;
    
    background-color: #f1a900;

    width: 100%;
    transition: height ease-in 500ms;
}

/*-------------Welcome page finish here---------------*/

.down{
    
    height: 20rem;
    width: 100%;
    
    overflow: auto;
    white-space: nowrap;
   
    
}

.rigth{
    padding: 0.5rem;
    padding-top: 1rem;
    
    background-color: black;
    display: inline-block;
    
}


h2{
    width:50%;
    font-size: 2rem;
    font-weight: bold;
    font-family: Helvetica;
    color: #f11111;
    margin: 1rem;
}


/*-----img-tag-------*/

img{
    height: 180px;
    width: 120px;
    transition: transform ease-out 500ms;
}

img:active{
    transform: scale(1.2);
}

/*-------------The number of tickets------------------*/

input{
    border-radius: 5px;
}

.howmay{
    margin: 0 auto;
    width: 100vw;
    border: black solid 1px;
}


/*----------------Trailers----------------------*/

.video{
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.iframe{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.iframe iframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

}
