<div class="checkoutcontainer">
    
    <div class="main">
       <h2 class="heading">Kontrollera din beställning</h2>
            <h3> Film : {{ customers[0].movie }}</h3>
       <div class="sub">

            <h3 class="leftsub">Att betala: </h3>
            <h3>{{totalSum + " "}} kr</h3>
      
      
            <h3>Antal biljetter: </h3>
            <h3>{{ customers.length + " " }}st </h3>            

       </div>
       <h3> Beställnings specifikation för stol:</h3>
       <div class="btn-box">
           <button
           (click)="customerList()"
           class="btn"> {{ showStr  }}</button>
           <ng-container *ngFor="let customer of customers" >
             
              <table *ngIf="showBool">
                <h3>Stol {{ customer.seat  }}</h3>
                <tr>
                  <th>Vara</th>
                  <th>Pris</th>
                </tr>
                <tr *ngFor="let order of customer.orderList">
                  <td> {{ order.name  }} </td>
                  <td> {{ order.price + " " }} kr</td>
                </tr>
                <tr>
                  <td>Summa</td>
                  <td> {{ customer.totalSum + " " }} kr </td>
                </tr>
              </table>
           </ng-container>
        
        <!--
        <tr >
          <td> STOL </td>
          <td>{{ customer.seat  }}</td>
        <tr *ngFor="let order of customer">
          <td>order.name</td>
          <td>order.price</td>
        </tr>
        </tr>
       
        <tr>
          <td>Total</td>
          <td>{{customers[id].totalSum + " "}} kr</td>
        </tr>
        -->
      
      

    </div>
    <button
           (click)="pay()"
           class="btn pay">
           Betala
    </button>
</div>