.checkoutcontainer{
    margin-top: 4rem;
    /*
    background-color:;
    */
    height: 100%;
    min-height: 100vh;
    width: 100%;
    border: solid black 1px;

}

.main{
    background-color: #fb1;   
    margin: 1rem auto;
    border-radius: 5px;
    width: 90%;
    
    animation: slide 0.5s ease-in-out;
    border: double #fff 1px;

    display: flex;
    flex-direction: column;
}





.sub{
    display: grid;
    grid-template-columns: 7fr 2fr;
    

}



h2, h3{
    
    text-align: center;
    
    font-weight: bolder;
    color:#fff;
    
}

h2{
    font-size: 2rem;
    padding: 2rem;
    animation: slide 1s ease-in;
}

h3{
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: start;
    opacity: 0;
    animation: slide 2s ease-in 1s;
    animation-fill-mode:forwards;
   
}

.btn-box{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

}

.btn{
    width:4rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: #fff;
    color: #f00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    text-align: center;
   
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform ease-in 500ms;
    
}

.btn:target{
    transform: scale(0.5);
    
}

.btn.pay{
    width: 8rem;
    float: right;
    margin-right: 2rem;
}


table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 100%;
    color:#fff;
  }

  th{
      font-weight: bold;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(1) {background-color: #111;}


@keyframes slide {
    
    0%   {opacity: 0; transform: scale(0);} 
    100%  {opacity: 1; transform: scale(1);}
    
  }